<% layout('admin/Boilerplate') %>

<h3 class="modal-title text-dark mb-4">All Events</h3>
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">All Events Posts</p>
    </div>
    <div class="card-body">
        <div class="modal-body row">
            <div class="col-9 col-md-8 col-sm-12">
                <table class="table table-striped postBlogTable">
                    <thead class="background-dark text-center">
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Place</th>
                            <th>Host</th>
                            <th>Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="postLatestTableBlog">

                        <% if(allevents.length) {%>
                        <% for(let index=0; index<allevents.length; index++) {%>
                        <tr>
                            <td><%= allevents[index].eventId %></td>
                            <td><%= allevents[index].title%></td>
                            <td><%= allevents[index].venue%></td>
                            <td><%= allevents[index].host%></td>
                            <td><%= allevents[index].eventDate%></td>
                            <td><a href="/admin/editeventform/<%=allevents[index].eventId%>"
                                    class="btn btn-outline-primary">Edit</a></td>
                            <td><a href="/admin/deleteevent/<%=allevents[index].eventId%>"
                                    class="btn btn-outline-danger">Delete</a></td>
                        </tr>
                        <% } %>
                        <% } %>

                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
            <div class="col-2" style="margin-left: 10px">
                <div class="card text-center totalcard mb-3">
                    <div class="card-body">
                        <h3>Total Event Posts</h3>
                        <h4 class="display-4">
                            <span id="postCount"><%= allevents.length %> </span>
                        </h4>
                        <a href="/admin/addblogs" class="btn btn-outline-grey bg-light btn-sm"><i
                                class="fas fa-plus"></i>
                            Add new Event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>