<% layout('admin/Boilerplate') %>


<h3 class="modal-title text-dark mb-4">Portfolio Catagory</h3>
<!-- first part show catagories -->
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">
            All Blog Catagories
        </p>
    </div>
    <div class="card-body">
        <div class="modal-body row">
            <div class="col-9 col-md-8 col-sm-12">
                <table class="table table-striped postBlogTable">
                    <thead class="background-dark text-center">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th> Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="postLatestTablecatagory">

                        <% if(allcategories.length) {%>
                        <% for(let index=0; index < allcategories.length; index++) {%>
                        <tr>
                            <td><%= allcategories[index].categoryId %></td>
                            <td><%= allcategories[index].title%></td>
                            <td><%= allcategories[index].description%></td>
                            <td><a href="/admin/editportfoliocategory/<%=allcategories[index].categoryId%>"
                                    class="btn btn-outline-primary">Edit</a></td>
                            <td><a href="/admin/deleteportfoliocategory/<%=allcategories[index].categoryId%>"
                                    class="btn btn-outline-danger">Delete</a></td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>
            <div class="col-2" style="margin-left: 10px">
                <div class="card text-center totalcard mb-3">
                    <div class="card-body">
                        <h3>Total Portfolio Catagories</h3>
                        <h4 class="display-4">
                            <span id="postCount"><%=allcategories.length %></span>
                        </h4>
                        <a href="#addCatagories" class="btn btn-outline-grey bg-light btn-sm"><i
                                class="fas fa-plus"></i> Add a new catagory</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- second part -->
<div class="card shadow topmargin" id="addCatagories">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">
            All Portfolio Catagory
        </p>
    </div>
    <div class="card-body">
        <div class="modal-body">
            <form id="postForm" class="validated-form" action="/admin/addportfoliocategory" method="post" novalidate>
                <div class="form-group">
                    <label for="catagoryTitle">Title</label>
                    <input type="text" class="form-control" id="catagoryTitle" name="category[title]" required />
                </div>
                <div class="form-group">
                    <label for="categoryDescription">Description</label>
                    <input type="text" class="form-control" id="categoryDescription" name="category[description]"
                        required />
                </div>
                <button class="btn btn-primary float-right" data-dismiss="modal" style="margin: 30px 50px">
                    Add Catagories
                </button>
            </form>
        </div>
    </div>
</div>