<% layout('client/Boilerplate') %>

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row gx-0">
                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>Who We Are</h3>
                        <h2>
                            Expedita voluptas omnis cupiditate totam eveniet nobis sint
                            iste. Dolores est repellat corrupti reprehenderit.
                        </h2>
                        <p>
                            Quisquam vel ut sint cum eos hic dolores aperiam. Sed deserunt
                            et. Inventore et et dolor consequatur itaque ut voluptate sed
                            et. Magnam nam ipsum tenetur suscipit voluptatum nam et est
                            corrupti.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                    <div class="box">
                        <img src="assets/img/Vision.png" class="img-fluid" alt="" />
                        <h3>Vision</h3>
                        <p>
                            Our vision is to be the most trusted and respected
                            professional firm earning recognitions from its clients for
                            delivering excellent services. The long term vision of the
                            company is to build a strong and expanded research and
                            training institute meeting international standards and to be
                            capable of contributing more excellent services to the
                            development of Ethiopia in particular and East Africa in
                            general.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
                    <div class="box">
                        <img src="assets/img/Mission.png" class="img-fluid" alt="" />
                        <h3>Mission</h3>
                        <p>
                            Our mission is to provide quality and professional
                            Consultancy, Research and Training (CRT) services mainly in
                            the form of project studies and training to various bodies of
                            the Government of the Federal Democratic Republic of Ethiopia
                            (FDRE) and numerous national and international organizations
                            engaged in contributing to the development of Ethiopia.
                            Addressing client-specific, contextual and tailored needs is
                            our flag.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Values Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
            <!-- Feature Tabs -->
            <div class="row feture-tabs" data-aos="fade-up">
                <div class="col-lg-6">
                    <h3>More About DAB DRT</h3>

                    <!-- Tabs -->
                    <ul class="nav nav-pills mb-3">
                        <li>
                            <a class="nav-link active" data-bs-toggle="pill" href="#tab1">DAB DRT</a>
                        </li>
                        <li>
                            <a class="nav-link" data-bs-toggle="pill" href="#tab2">Accomplishments</a>
                        </li>
                        <li>
                            <a class="nav-link" data-bs-toggle="pill" href="#tab3">Our Philosophy</a>
                        </li>
                    </ul>
                    <!-- End Tabs -->

                    <!-- Tab Content -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab1">
                            <p>
                                DAB Development Research & Training (DAB-DRT) is a private
                                development consultancy firm engaged in providing
                                professional consultancy services for public, private and
                                non-governmental institutions in the areas of economic and
                                social developments. Since 2014, DAB has been engaged in
                                various research and evaluation assignments in multiple
                                areas of development interventions.
                            </p>

                            <p>
                                Established by distinguished professionals with vast
                                experiences in research, development consultancy, policy
                                communications and higher education teaching, DAB-DRT
                                operates with a clear organizational structure, mission and
                                vision maintaining a permanent staff of highly qualified
                                researchers and associates with expertise in the various
                                disciplines.
                            </p>
                        </div>
                        <!-- End Tab 1 Content -->

                        <div class="tab-pane fade show" id="tab2">
                            <p>
                                Through its years of existence, DAB has successfully
                                completed several high profile projects for various clients.
                                In delivering the assignments, the company has met the
                                varied and exacting quality expectations of clients; proving
                                its professional competence and trustworthiness. Among the
                                organizations that have over the years entrusted the company
                                with consultancy assignments include the Central Statistical
                                Agency (CSA), Agricultural Transformation Agency (ATA) and
                                National Planning & Development Commission, as well as
                                international organizations like UNICEF, UNDP and UNFPA.
                            </p>

                            <p>
                                DAB also completed baseline, midterm and final evaluation
                                assignments for several local and international
                                organizations including Save the Children International,
                                Catholic Relief Service (CRS), GIZ, Action Aid Ethiopia,
                                Oxfam America, SNV, Splash International, Techno Serve Inc,
                                Marie Stopes International Ethiopia, DKT Ethiopia, SOS
                                Sahel, Handicap International, Concern Worldwide, Project
                                Concern International (PCI), and Canadian Embassy.
                            </p>
                        </div>
                        <!-- End Tab 2 Content -->

                        <div class="tab-pane fade show" id="tab3">
                            <div class="d-flex align-items-center mb-2">
                                <i class="bi bi-check2"></i>
                                <h4>We focus on quality results.</h4>
                            </div>
                            <p>
                                We understand that evaluations should provide credible and
                                useful evidence to strengthen accountability for development
                                results and contribute to learning processes, and the
                                quality of evaluation and its contribution to development
                                can be reinforced through adoption of latest methodologies
                                and techniques in development research and evaluation.
                            </p>

                            <p>
                                We approach every client, every new assignment and every
                                challenge that comes with it with our philosophy that
                                excellence is consistently achievable, and we are confident
                                that the professionalism and dedication of our staff and
                                associates, together with our strong partnerships with
                                clients will help us sprint further to our aspired levels of
                                excellence.
                            </p>
                        </div>
                        <!-- End Tab 3 Content -->
                    </div>
                </div>

                <div class="col-lg-6">
                    <img src="assets/img/features-2.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <!-- End Feature Tabs -->
            <!-- ======= Pricing Section ======= -->
            <section id="pricing" class="pricing">
                <div class="container" data-aos="fade-up">
                    <header class="section-header">
                        <p>DAB DEVELOPMENT RESEARCH & TRAINING</p>
                        <span>Expertise | Partnership | Results</span>
                    </header>

                    <div class="row gy-4" data-aos="fade-left">
                        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                            <div class="box ">
                                <div class="box-front">
                                    <img src="assets/img/bg.png" alt="">
                                    <h2>Broad Experience</h2>
                                </div>
                                <div class="box-back">
                                    <h3>Broad Experience</h3>
                                    <p class="boxText">
                                        Despite our young age in the consultancy business with
                                        just over two years of service, we have been
                                        commissioned to conduct several high profile consultancy
                                        assignments that we have successfully carried out to the
                                        full satisfaction of our clients. Our experience is also
                                        diversified in a wide range of intervention areas.
                                        Choose DAB DRT to take advantage of the unique sets of
                                        experience our 15+ employees bring to the table.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                            <div class="box ">
                                <div class="box-front">
                                    <img src="assets/img/bg.png" alt="">
                                    <h2>Reliable Pool of Experts</h2>
                                </div>
                                <div class="box-back">
                                    <h3>Reliable Pool of Experts</h3>
                                    <p class="boxText">
                                        In addition to our permanent staff of eight-plus
                                        dedicated professionals, all with advanced education and
                                        research experiences, we also have professional
                                        alliances with highly experienced associates in various
                                        fields of expertise. Our professional associates are
                                        readily available to collaborate with us on any
                                        projects, and our reputation enables us to attract new
                                        professionals from research and academic institutions.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                            <div class="box ">
                                <div class="box-front">
                                    <img src="assets/img/bg.png" alt="">
                                    <h2>commitment to Quality</h2>
                                </div>
                                <div class="box-back">
                                    <h3>commitment to Quality</h3>
                                    <p class="boxText">
                                        We never compromise on quality. Projects are not just a
                                        business for us; we believe that we have a stake in the
                                        success of our client’s development efforts. Therefore,
                                        we strive to meet the quality expectations of our
                                        clients, learn from the experiences from each
                                        assignment, and maintain enduring partnerships. To that
                                        end, we work with experienced consultants possessing
                                        professional integrity, intellectual curiosity, and
                                        commitment to quality research.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Pricing Section -->

            <!-- Feature Icons -->
            <div class="row feature-icons" data-aos="fade-up">
                <h3>Why Choose Us</h3>

                <div class="row">
                    <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
                        <img src="assets/img/features-3.png" class="img-fluid p-4" alt="" />
                    </div>

                    <div class="col-xl-8 d-flex content">
                        <div class="row align-self-center gy-4">
                            <div class="col-md-6 icon-box" data-aos="fade-up">
                                <i class="ri-line-chart-line"></i>
                                <div>
                                    <h4>Broad Experience</h4>
                                    <p>
                                        Despite our young age in the consultancy business with
                                        just over two years of service, we have been
                                        commissioned to conduct several high profile consultancy
                                        assignments that we have successfully carried out to the
                                        full satisfaction of our clients. Our experience is also
                                        diversified in a wide range of intervention areas.
                                        Choose DAB DRT to take advantage of the unique sets of
                                        experience our 15+ employees bring to the table.
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                <i class="ri-stack-line"></i>
                                <div>
                                    <h4>Reliable Pool of Experts</h4>
                                    <p>
                                        In addition to our permanent staff of eight-plus
                                        dedicated professionals, all with advanced education and
                                        research experiences, we also have professional
                                        alliances with highly experienced associates in various
                                        fields of expertise. Our professional associates are
                                        readily available to collaborate with us on any
                                        projects, and our reputation enables us to attract new
                                        professionals from research and academic institutions.
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                <i class="ri-brush-4-line"></i>
                                <div>
                                    <h4>commitment to Quality</h4>
                                    <p>
                                        We never compromise on quality. Projects are not just a
                                        business for us; we believe that we have a stake in the
                                        success of our client’s development efforts. Therefore,
                                        we strive to meet the quality expectations of our
                                        clients, learn from the experiences from each
                                        assignment, and maintain enduring partnerships. To that
                                        end, we work with experienced consultants possessing
                                        professional integrity, intellectual curiosity, and
                                        commitment to quality research.
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                <i class="ri-magic-line"></i>
                                <div>
                                    <h4>Efficiency and Punctuality</h4>
                                    <p>
                                        At DAB we know that timely delivery is essential for our
                                        clients. We function with the efficiency of a well-oiled
                                        machine to meet the high standards of our clients while
                                        adhering to the set timeline of the projects we
                                        undertake. Meticulous planning of activities, competent
                                        and dedicated researchers, and experienced data
                                        collectors are our significant assets in the effort to
                                        maintain a high level of efficiency and timely delivery
                                        of projects.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Feature Icons -->
        </div>
    </section>
    <!-- End Features Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <p>Our hard working team</p>
            </header>

            <div class="team-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <% if(teamsData.length){%>
                    <% for(let index=0; index<teamsData.length; index++){ %>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch swiper-slide" data-aos="fade-up"
                        data-aos-delay="100">
                        <div class="member teamMember">
                            <div class="member-img">
                                <img src="/<%=teamsData[index].path%>" class="img-fluid" alt="" />
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="">
                                <h4><%=teamsData[index].name%></h4>
                                <span><%=teamsData[index].role%></span>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <% } %>

                </div>
                <div class="swiper-pagination" style="margin-top: 40px; position: relative"></div>
            </div>
        </div>
    </section>
    <!-- End Team Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <p>Testimonials: What they are saying about us?</p>
            </header>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
                <div class="swiper-wrapper">
                    <!-- End testimonial item -->
                    <% if(testimonialData.length){ %>
                    <% for(let index =0 ; index < testimonialData.length ; index++){ %>
                    <div class="swiper-slide">
                        <div class="testimonial-item scroll">
                            <p>
                                <%=testimonialData[index].body.trim()%>
                            </p>
                            <div class="profile mt-auto">
                                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="" />
                                <h3><%=testimonialData[index].author%></h3>
                                <h4><%=testimonialData[index].role%></h4>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <%}%> 
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </section>
            <!-- End Testimonials Section -->
        </main>
        <!-- End #main -->

       