<% layout('client/Boilerplate') %>

<section id="hero" class="hero align-items-center">
    <div id="welcome-DAB">
        <img src="/assets/img/img1.jpg" alt="" class="welcome-img active" />
        <img src="/assets/img/about.jpg" alt="" class="welcome-img" />
        <img src="/assets/img/blog/blog-1.jpg" alt="" class="welcome-img">
        <img src="/assets/img/blog/blog-2.jpg" alt="" class="welcome-img">
        <img src="/assets/img/blog/blog-3.jpg" alt="" class="welcome-img" />
        <img src="/assets/img/blog/blog-4.jpg" alt="" class="welcome-img">
    </div>
    <div id="welcome">
        <h2 id="welcome-DABDRT">
            Welcome To DAB Development Research Training
        </h2>

        <p id="DAB-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate vero, incidunt enim ex, aliquid
            facere blanditiis explicabo deleniti excepturi similique voluptatum eligendi ab consequatur illum
            minima error. Quis, illum cumque!
        </p>
        <div class="text-center text-lg-start" id="DAB-about">
            <a href="/about"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>About Us</span>
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    <div id="agriculture">
        <h2 id="agriculture-title">
            Agricultue and Food Security
        </h2>
        <p id="agri-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate vero, incidunt enim ex, aliquid
            facere blanditiis explicabo deleniti excepturi similique voluptatum eligendi ab consequatur illum
            minima error. Quis, illum cumque!
        </p>
    </div>
    <div id="health">

        <h2 id="health-title">
            Health
        </h2>
        <p id="health-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate vero, incidunt enim ex, aliquid
            facere blanditiis explicabo deleniti excepturi similique voluptatum eligendi ab consequatur illum
            minima error. Quis, illum cumque!
        </p>
    </div>
    <div id="gender">

        <h2 id="gender-title">
            Gender
        </h2>
        <p id="gender-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate vero, incidunt enim ex, aliquid
            facere blanditiis explicabo deleniti excepturi similique voluptatum eligendi ab consequatur illum
            minima error. Quis, illum cumque!
        </p>
    </div>
    <div id="capacity">

        <h2 id="capacity-title">
            Capacity
        </h2>
        <p id="capacity-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate vero, incidunt enim ex, aliquid
            facere blanditiis explicabo deleniti excepturi similique voluptatum eligendi ab consequatur illum
            minima error. Quis, illum cumque!
        </p>
    </div>
    <div id="resource">

        <h2 id="resource-title">
            Resource Management
        </h2>
        <p id="resource-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate vero, incidunt enim ex, aliquid
            facere blanditiis explicabo deleniti excepturi similique voluptatum eligendi ab consequatur illum
            minima error. Quis, illum cumque!
        </p>
    </div>
</section>


<main id="main">
    <!--Increasing NUmbers-->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
            <div class="row gy-4">
                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-headset" style="color: #57b947"></i>
                        <div>
                            <div class="countplus">
                                <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1"
                                    class="purecounter"></span>
                                <span>+</span>
                            </div>
                            <p>Years of Experience</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext" style="color: #57b947"></i>
                        <div>
                            <div class="countplus">
                                <span data-purecounter-start="0" data-purecounter-end="100"
                                    data-purecounter-duration="1" class="purecounter"></span>
                                <span>+</span>
                            </div>
                            <p>Completed Projects</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile" style="color: #57b947"></i>
                        <div>
                            <div class="countplus">
                                <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1"
                                    class="purecounter"></span>
                                <span>+</span>
                            </div>
                            <p>International Clients</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-people" style="color: #57b947"></i>
                        <div>
                            <div class="countplus">
                                <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1"
                                    class="purecounter"></span>
                                <span>+</span>
                            </div>
                            <p>Hard Workers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end of increasing numbers-->

    <!--Rotating Cards-->
    <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <p>DAB DEVELOPMENT RESEARCH & TRAINING</p>
                <span>Expertise | Partnership | Results</span>
            </header>

            <div class="row gy-4" data-aos="fade-left">
                <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box ">
                        <div class="box-front">
                            <img src="assets/img/img1.jpg" alt="">
                            <h2>Expertise</h2>
                        </div>
                        <div class="box-back">
                            <h3>Expertise</h3>
                            <p class="boxText">
                                DAB offers the best experts in the field to ensure that everything we do is
                                state-of-the-art. In addition to our permanent staff of Fifteen-plus dedicated
                                professionals, all with advanced education and research experiences, we also
                                have professional alliances
                                with highly experienced associates in various fields of expertise. Our
                                professional associates are readily available to collaborate with us on any
                                projects, and our reputation enables us to attract new professionals
                                from research and academic institutions whenever necessary.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="box ">
                        <div class="box-front">
                            <img src="assets/img/img1.jpg" alt="">
                            <h2>Partnership</h2>
                        </div>
                        <div class="box-back">
                            <h3>Partnership</h3>
                            <p class="boxText">
                                DAB offers the best experts in the field to ensure that everything we do is
                                state-of-the-art. In addition to our permanent staff of Fifteen-plus dedicated
                                professionals, all with advanced education and research experiences, we also
                                have professional alliances
                                with highly experienced associates in various fields of expertise. Our
                                professional associates are readily available to collaborate with us on any
                                projects, and our reputation enables us to attract new professionals
                                from research and academic institutions whenever necessary.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="box ">
                        <div class="box-front">
                            <img src="assets/img/img1.jpg" alt="">
                            <h2>Results</h2>
                        </div>
                        <div class="box-back">
                            <h3>Results</h3>
                            <p class="boxText">
                                At DAB, we never compromise on quality. Our involvement in evaluation of
                                projects is not just a business for us; we believe that we have a stake in the
                                success of our client’s development efforts. Therefore, we strive to meet the
                                quality expectations
                                of our clients, learn from the experiences coming from each assignment and
                                maintain enduring partnerships with clients. To that end, we work with
                                experienced consultants possessing professional integrity, intellectual
                                curiosity and commitment to quality research.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Rotating Cards Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <p>Check our latest work</p>
            </header>

            <!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div> -->

            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
                <% if(portfolioData.length){%>
                <% for(let index=0; index<portfolioData.length;index++){ %>
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="/<%=portfolioData[index].path%>" class="img-fluid" alt="" />
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="portfolio/<%=portfolioData[index].portfolioId%>"
                                    data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 1"><i
                                        class="bi bi-plus"></i></a>
                                <a href="portfolio/<%=portfolioData[index].portfolioId%>" title="More Details"><i
                                        class="bi bi-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } %>

            </div>
        </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id=" team" class="team">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <p>Our hard working team</p>
            </header>

            <div class="row gy-4">
                <% if(teamsData.length >= 4){ %>
                <% for(let index=0; index < 4; index++){ %>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="100">
                    <div class="member teamMember">
                        <div class="member-img">
                            <img src="/<%=teamsData[index].path%>" class="img-fluid" alt="" />
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="">
                            <h4><%=teamsData[index].name%></h4>
                            <span><%=teamsData[index].role%></span>
                        </div>
                    </div>
                </div>
                <% } %>
                <% } %>


            </div>
        </div>
    </section>
    <!-- End Team Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <p>Our Clients</p>
            </header>

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide">
                        <img src="assets/img/clients/1_SavetheChildren.png" width="200" height="100"
                            style="will-change: auto;" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/2_wb.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/3_Fao.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/4_usaid.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/5_UNICEF.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/6_UN.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/7_UNDP.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/8_Rescue.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/9_SNV.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/10_UNFPA.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/11_wv.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/12_WaterAid.png" width="200" height="100"
                            style="will-change: auto;" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/13_actionaid.png" width="200" height="100"
                            style="will-change: auto;" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/14_giz.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/15_Global-Affairs.png" width="200" height="100" alt="" />
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/16_marie-stopes.png" width="200" height="100"
                            style="will-change: auto;" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/17_ACDI.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/18_OXFAM.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/19_crs.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/20_Splash.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/21_IOM.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/22_concern.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/23_dkt.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/24_Care.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/25_CCFC.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/26_National Plan.png" width="200" height="100"
                            style="will-change: auto;" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/27_AACCSA.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/28_ag.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/29_ATA.png" width="200" height="100" style="will-change: auto;"
                            alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/img/clients/30_Minister of health.png" width="200" height="100"
                            style="will-change: auto;" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- End Clients Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
        <div class="container" data-aos="fade-up">
            <header class="section-header">
                <p>Recent posts form our Blog</p>
            </header>

            <div class="row">
                <% if(blogData.length){ %>
                <% for(let index=0; index<blogData.length; index++){ %>
                <div class="col-lg-4">
                    <div class="post-box">
                        <div class="post-img">
                            <img src="/<%=blogData[index].path%>" class="img-fluid" alt="" />
                        </div>
                        <span class="post-date"><%=blogData[index].dateTime%></span>
                        <h3 class="post-title">
                            <%=blogData[index].title%>
                        </h3>
                        <a href="/blogs/<%=blogData[index].blogId%>" class="readmore stretched-link mt-auto"><span>Read
                                More</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <% } %>
                <% } %>

            </div>
        </div>
    </section>
    <!-- End Recent Blog Posts Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->